/* filepath: /d:/dvl/ikscs/react/vp-descr/best/src/components/InnerHeader.module.css */
.innerHeader {
  height: 50px;
  background-color: #ccc;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.leftButton {
  margin-right: auto;
}

.rightButton {
  margin-left: auto;
}